.body-section {
	width: 95%;
	background-color: rgba(29, 5, 37, 0.97);
	background-image: linear-gradient(
		45deg,
		rgba(0, 0, 0, 0.1),
		rgba(255, 255, 255, 0.1),
		rgba(0, 0, 0, 0.1)
	);
	box-shadow: 0px 0px 10px white;
	margin: 160px 0px 110px 0px;
	border-radius: 5px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow: hidden;
}

.body-section::-webkit-scrollbar {
	display: none;
}

@media screen and (min-width: 720px) {
	.body-section {
		width: 70%;
	}
}
