.App {
	text-align: center;
	background-color: rgba(51, 51, 51);
	box-shadow: 0px 0px 200px inset black;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.App::-webkit-scrollbar {
	display: none;
}
